*{
    font-family:Arial, Helvetica, sans-serif;
}
h1{
    color: #f0f0f0;
    padding: 30px;
    text-align: center;
}
body{
    background-color: #1f1f1f;
}
.table-desc{
    color:#cccccc;
}
.container{
    background-color: #1f1f1f;
}
.descricao{
    color:#cccccc;
}
.product-info{
    color: #f0f0f0;
    font-weight:550;
}
.product-num{
    color: #f0f0f0;
}
footer{
    background-color:rgb(83, 83, 83);
    text-align: center;
    padding: 10px;
}
